ADF/pipeline/OLTPToOLAP.json
{
	"name": "OLTPToOLAP",
	"properties": {
		"activities": [
			{
				"name": "Calculate ETL Cutoff Time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TargetETLCutoffTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LookupTableName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OLTP",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "tableName"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Ensure DateDim includes current year",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Calculate ETL Cutoff Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Integration].[PopulateDateDimensionForYear]",
					"storedProcedureParameters": {
						"YearNumber": {
							"value": "2022",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DWSP",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTableName').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Lineage Key",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Integration].[GetLineageKey]",
								"storedProcedureParameters": {
									"NewCutoffTime": {
										"value": {
											"value": "@variables('TargetETLCutoffTime')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@{item().Name}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWSP",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Truncate TABLE_Staging",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Get Lineage Key",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "DWSP",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "DELETE FROM Integration.@{item().Name}_Staging",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "Exec LastTableETLCutoffTime",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Truncate TABLE_Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Integration].[GetLastETLCutoffTime]",
								"storedProcedureParameters": {
									"TableName": {
										"value": {
											"value": "@{item().Name}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWSP",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"TargetETLCutoffTime": {
				"type": "String"
			},
			"LineageKey": {
				"type": "String"
			},
			"TableName": {
				"type": "String"
			},
			"LastETLCutoffTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}