ADF/pipeline/OLTPToODS.json
{
	"name": "OLTPToODS",
	"properties": {
		"activities": [
			{
				"name": "Set Extract TableName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tableName",
					"value": [
						[
							"Application",
							"Cities"
						],
						[
							"Sales",
							"Customers"
						],
						[
							"Application",
							"People"
						],
						[
							"Sales",
							"Orders"
						],
						[
							"Sales",
							"OrderLines"
						],
						[
							"Warehouse",
							"StockItems"
						]
					]
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Extract TableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('tableName')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OLTP",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "@item()[0]",
										"TableName": "@item()[1]"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ODS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "@item()[0]",
										"TableName": "@item()[1]"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"tableName": {
				"type": "Array",
				"defaultValue": [
					"Application.Cities",
					"Sales.Customers"
				]
			}
		},
		"annotations": []
	}
}